/* Basic Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}

.contact-form h2 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-form form {
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.contact-form form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input, .contact-form form .input-box label, .contact-form form textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: burlywood;
    background: antiquewhite;
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}

#email-type {
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: burlywood;
    background: antiquewhite;
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}
.btn-box {
    width: 345px;
    display: flex;
    gap: 2em;
}

.btn-1 {
    padding: 15px 28px;
    background-color: burlywood;
    color: antiquewhite;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover {
    color: burlywood;
    background-color: rgb(174, 163, 148);
    border: 2px solid burlywood;
}

/* Pseudo */

.contact-form form .input-box input::before {
    content: "*";
    font-size: 2em;
}